@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
  text-decoration: none;
  color: black;
}

body {
  background: #f5f4f0;
  &::-webkit-scrollbar {
    width: 15px;
    background-color: #000;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #223c50;
    border-radius: 10px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  header {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
    div {
      align-items: center;
    }
    .logo {
      .logo-m {
        display: flex;
        margin-right: 10px;
        img {
          height: 35px;
        }

        a {
          font-size: 18px;
          transition: 0.3s ease;
          margin-left: 15px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .c_name {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;

      .name {
        font-size: 32px;
        font-family: "Playfair Display", serif;
        font-weight: 800;
      }

      .by {
        font-size: 18px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .buttons {
      display: flex;
      div {
        margin: 10px;
        font-size: 18px;

        a {
          transition: 0.3s ease;
          &:hover {
            text-decoration: underline;
          }
        }

        button {
          width: 119px;
          height: 39px;
          border: none;
          color: white;
          background: #161616;
          border-radius: 100px;
          transition: 0.3s ease;
          &:hover {
            box-shadow: 0px 12px 9px 0px rgba(0, 0, 0, 0.377);
            cursor: pointer;
            transform: scale(1.15);
          }
        }
      }
    }
  }

  main {
    .wrapper {
      .viewport {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 80px;
        .about {
          .title {
            font-size: 80px;
            font-weight: 400;
          }

          .about-p {
            font-size: 23px;
            font-weight: 400;
          }

          .buttons {
            .download {
              width: 119px;
              height: 39px;
              border: none;
              color: white;
              background: #161616;
              border-radius: 100px;
              transition: 0.3s ease;
              &:hover {
                cursor: pointer;
              }
            }
            .expoler {
              width: 119px;
              height: 39px;
              color: #161616;
              border: 3px solid #161616;
              border-radius: 100px;
              transition: 0.3s ease;
            }
            button {
              margin: 0 10px 0 0;
              &:hover {
                box-shadow: 0px 12px 9px 0px rgba(0, 0, 0, 0.377);
                cursor: pointer;
                transform: scale(1.15) translateY(-5px);
              }
            }
          }

          div {
            margin: 25px 0;
          }
        }

        .img-about-web {
          width: 100%;
          height: 700px;
          background-image: url(../static/img/IMAGE.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background: #161616;
          border: 30px solid #161616;
          box-shadow: 6px 6px 30px rgba(22, 22, 22, 0.2);
          border-radius: 28px;
          // position: relative;
          // right: -150px;
        }
      }

      .bring {
        width: 100%;
        height: 810px;
        background-size: cover;
        background-position: center;
        padding: 256px 80px;

        .title {
          font-size: 49px;
          color: white;
          line-height: 54px;
        }

        .other-word {
          color: white;
          margin-top: 50px;
          font-size: 20px;
        }
      }

      .run {
        margin-top: 80px;
        width: 100%;
        height: 850px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          font-size: 52px;
          line-height: 54px;
        }

        .about {
          font-size: 20px;
          line-height: 28px;
          margin-top: 30px;
          text-align: center;
        }
      }

      .one,
      .two {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 80px;
        position: relative !important;
        .about {
          .title {
            font-size: 80px;
            font-weight: 400;
          }

          .about-p {
            font-size: 23px;
            font-weight: 400;
          }
        }

        div {
          margin: 25px 0;
        }
      }

      .img-about-web {
        width: 100%;
        height: 700px;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background: #161616;
        border: 30px solid #161616;
        box-shadow: 6px 6px 30px rgba(22, 22, 22, 0.2);
        border-radius: 28px;
      }
    }
  }

  .one {
    .img-about-web {
      margin-right: 30px !important;
    }
  }

  .app {
    height: 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    .picture {
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
      border-radius: 25px;
    }

    .title {
      margin-top: 20px;
    }
    button {
      margin: 20px 0 0 0;
      width: 119px;
      height: 39px;
      border: none;
      color: white;
      background: #161616;
      border-radius: 100px;
      transition: 0.3s ease;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 12px 9px 0px rgba(0, 0, 0, 0.377);
        cursor: pointer;
        transform: scale(1.15) translateY(-10px);
      }
    }
  }
}

footer {
  padding: 85px 155px;
  background: #161616;
  width: 100%;
  li,
  h1,
  h3,
  p {
    color: white;
    list-style-type: none;
  }
  ul {
    li {
      margin-top: 0.6em;
    }
  }
  .top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .item {
      .bottom-item {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .top {
    .item:first-child {
      display: none;
    }
    .item:last-child {
      display: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 50px !important;
  }

  .img-about-web {
    height: 500px !important;
  }
}
@media only screen and (max-width: 700px) {
  .img-about-web {
    border: 20px solid #161616 !important;
    height: 300px !important;
    margin: 0 !important;
  }

  .one,
  .two {
    display: flex !important;
    align-items: center !important;
    flex-direction: column-reverse !important;
  }

  .viewport {
    align-items: center !important;
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .title {
    font-size: 30px !important;
  }

  .logo {
    display: none;
  }
  header {
    justify-content: center !important;
    .buttons {
      display: none !important;
    }
  }

  footer {
    justify-content: space-between;
    padding: 15px;
  }

  header {
    .c_name {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .run .about {
    width: 90% !important;
  }

  .app {
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 20px !important;
  }

  .about {
    font-size: 15px !important;
  }

  .about-p {
    font-size: 16px !important;
  }

  .bring {
    padding: 100px 80px !important;
    height: 600px !important;
  }
  .other-word {
    margin-top: 30px !important;
  }

  .categories .two {
    margin-bottom: -50px !important;
  }

  .app {
    height: 300px !important;
    margin-bottom: 40px !important;
  }

  footer {
    h3{
      font-size: 18px;
    }
    ul li {
      font-size: 12px;
    }
  }

  .container .one .img-about-web{
    margin: 0 !important;
  }
  .container main .wrapper .one, .container main .wrapper .two{
    padding: 40px;
  }
  
  .bring{
    padding: 25px !important;
  }

  .expoler{
    margin-top: 15px !important;
  }

  .viewport{
    padding: 25px !important;
  }
}
